<mat-toolbar colour="secondary">
  <span *ngIf="!enableSearchBar" routerLink="/">StarFall</span>

  <span *ngIf="!enableSearchBar && isMapPage" class="icon-button">
    <button mat-icon-button (click)="triggerSearch()">
      Search
      <mat-icon>search</mat-icon>
    </button>
  </span>
  <span *ngIf="!enableSearchBar && isMapPage" class="icon-button">
    <button mat-icon-button (click)="triggerFilterBar()">
      Filter
      <mat-icon>settings</mat-icon>
    </button>
  </span>
  <span *ngIf="!enableSearchBar" class="icon-button">
    <button mat-icon-button (click)="triggerTableView()">
      Table
      <mat-icon>table</mat-icon>
    </button>
  </span>
  <span *ngIf="!enableSearchBar" class="spacer"></span>
  <span *ngIf="user && !enableSearchBar">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      <span style="margin-left: 5px">{{ user.username }}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/user/{{ user.username }}">
        <mat-icon>favorite</mat-icon>
        <span>Favourites</span>
      </button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </span>

  <!-- <a class="profile-link" href="/user/{{ user.username }}">{{
    user.username
  }}</a> -->
  <span *ngIf="!user && !enableSearchBar"
    ><a class="profile-link" href="/login">Login</a></span
  >

  <div
    fxLayout="row"
    fxLayout="row"
    fxLayout.xs="column"
    fxFlexFill
    *ngIf="enableSearchBar"
  >
    <div style="align-items: center" fxFlex fxFlex="2">
      <button mat-icon-button fxFlex="2">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div fxFlex="100">
      <mat-form-field fxFlex="99">
        <input
          ngx-google-places-autocomplete
          matInput
          (onAddressChange)="handleAddressChange($event)"
          #placesRef="ngx-places"
        />
      </mat-form-field>
    </div>

    <div style="align-items: center" fxFlex fxFlex="2">
      <button mat-icon-button fxFlex="2">
        <mat-icon (click)="triggerSearch()">close</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
