<mat-card class="example-card" *ngIf="selectedMeteorite">
  <mat-card-header>
    <mat-card-title>Name: {{ selectedMeteorite.name }}</mat-card-title>
    <mat-card-subtitle
      >Date of impact: {{ selectedMeteorite.year }}</mat-card-subtitle
    >
    <button mat-icon-button (click)="emitFavourite(selectedMeteorite._id)">
      <mat-icon [ngStyle]="{ color: selectedMeteorite.favourite ? 'red' : '' }"
        >favorite</mat-icon
      >
    </button>
  </mat-card-header>
  <!-- <img mat-card-image src="" alt="Photo of a meteorite"> TODO revisit for nice image of classifications! -->
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at ipsum
      pharetra enim eleifend faucibus at vel enim. Nulla fringilla ut ligula
      condimentum malesuada. Fusce mollis eros purus, sed pretium dui luctus
      quis. Nullam venenatis porttitor leo, at dapibus dolor.
    </p>
  </mat-card-content>
  <!-- <mat-card-actions> TODO revist this for favourite button!
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>
