div.button-row {
  padding-top: 1rem;
}

.login-button {
  min-width: 100%;
  background-color: #212121;
  font-size: 18px;
}

.mat-card {
  width: 400px;
}

.mat-form-field {
  min-width: 100%;
}

.error-text {
  color: red; 
  font-size: 14px;
}

.register-text {
  font-size: 18px;
  color: #fff;
}

.form-input {
  font-size: 18px;
}