<div>
  <app-navbar
    (searchLocation)="handleAddressChange($event)"
    (enableFilterDrawer)="triggerFilterDrawer()"
  ></app-navbar>
</div>
<mat-drawer-container>
  <mat-drawer
    mode="side"
    position="start"
    [opened]="opened"
    style="max-width: 400px"
  >
    <app-map-filter
      (triggerFiltering)="updateMeteoritesWithFilter($event)"
    ></app-map-filter>
  </mat-drawer>
  <mat-drawer-content>
    <app-google-maps [mapLocation]="mapLocation"></app-google-maps>
  </mat-drawer-content>
</mat-drawer-container>
