<form [formGroup]="filterForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="filter-fields-container">
    <h3>Filter by location</h3>
    <p style="font-size: 6">
      *If specified uses the maps current location - use the search above to
      choose precise locations
    </p>
    <hr />
    <br />
    <mat-slide-toggle
      (change)="updateLocationFilteringOption($event)"
      class="filter-field"
      style="margin-bottom: 1rem"
      >Enable local location filtering</mat-slide-toggle
    >
    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Radius</mat-label>
      <input matInput type="number" formControlName="radius" />
      <span matSuffix>km</span>
    </mat-form-field>
  </div>
  <div class="filter-fields-container">
    <h3>Filter by fields</h3>
    <hr />
    <br />

    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Classification</mat-label>
      <input
        type="text"
        aria-label="Number"
        matInput
        formControlName="classification"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Fall Type</mat-label>
      <mat-select formControlName="fall">
        <mat-option value="Found">Found</mat-option>
        <mat-option value="Fell">Fell</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Minimum Mass</mat-label>
      <input matInput type="number" formControlName="mass" />
      <span matSuffix>grams</span>
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Start date"
          formControlName="startDate"
        />
        <input matEndDate placeholder="End date" formControlName="endDate" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <hr />
    <br />
    <div>
      <div class="filter-field">
        <h3>Amount of meteorites displayed</h3>

        <mat-slider
          class="filter-field"
          thumbLabel
          min="1"
          max="5000"
          value="100"
          formControlName="meteoriteAmount"
        ></mat-slider>
      </div>
    </div>
    <div>
      <button
        mat-raised-button
        class="filter-field-button"
        color="primary"
        type="submit"
        [disabled]="!filterForm.valid || formSubmitted"
      >
        Update
      </button>
    </div>
  </div>
</form>
