<article class="card">
  <header class="card-header">
    <p>Date Landed: {{ FavouriteMeteorite.year }}</p>
    <h2>{{ FavouriteMeteorite.name }}</h2>
    <div class="card-info">
      <p>
        <span *ngIf="FavouriteMeteorite.recclass"
          >Classification: {{ FavouriteMeteorite.recclass }}</span
        >
        <span *ngIf="FavouriteMeteorite['mass (g)']" style="float: right"
          >Mass: {{ FavouriteMeteorite["mass (g)"] }}g</span
        >
      </p>
      <p>
        <span *ngIf="FavouriteMeteorite.GeoLocation"
          >GeoLocation: {{ FavouriteMeteorite.GeoLocation }}</span
        >
      </p>
    </div>
  </header>
</article>
